html{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #191919;
}
li{
    list-style: none;
}
body{
    
    background: #191919;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #fcd6d6;
}

.category-block{
    width: 200px;
    border-radius: 5px;
    background-color: #d3b3b3;
    padding-bottom: 30px;
    margin: 30px;
    position: relative;
    overflow: hidden;
}

#category-container,
#giphy-container,
#req-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#req-container{
    background-color: rgba(113,26,26,.4);
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
}
#req-container input{
    padding: 15px 30px;
    background-color: #191919;
    color: #fcd6d6;
    margin: 10px;
    border: none;
}
#req-container button{
    border: none;
    padding: 15px 30px;
    background-color:#fcd6d6;
    cursor: pointer;
}
.category-block img{
    width: 100%;
    height: 80%;
}

.category-block p{
    text-align: center;
    color: #191919;
}
.imgGif{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin: 30px;
}